<div class="col-xs-12 text-center">
  <h2><%= @user.name %></h2>
  <div class="stats">
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      following
    </a>
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      followers
    </a>
  </div>
    <div>
    <% unless @user.verified? %>
      <% if user_signed_in? && @user != current_user && current_user.verified %>
        <%= button_to "Verify", action: 'create', controller: 'verifications', id: @user.id %>
      <% end %>
      <small><%= @user.name %> needs <%= 3 - @user.verifiers.count %> more verifications</small>
    <% end %>
  </div>
</div>
<div class="col-sm-6">
  <% if @user.posts.any? %>
    <%= render @user.feed %>
  <% else %>
    <h3>Nothing here yet.</h3>
  <% end %>
</div>
<div class="col-sm-6">
  <% unless (current_user == @user) || !user_signed_in? %>
    <div id="follow_form">
      <% if current_user.following?(@user) %>
        <%= render 'shared/unfollow' %>
      <% else %>
        <%= render 'shared/follow' %>
      <% end %>
    </div>
  <% end %>
</div>