<%= form_for @trail do |f| %>

  <div>
    <%= f.label :name, "Trail Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :start, "Start Time" %>
    <%= f.datetime_select :start, :ampm => true, :minute_step => 15 %>
  </div>
  <div>
    <%= f.label :price, "Hash Cash" %>
    <%= f.text_field :price, size: "2" %>
  </div>  
  <div>
    <%= f.label :description, "Trail Description" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.hidden_field(:kennel_id, :value => @trail.kennel.id) %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
