<% if trail.valid? %>
  <% if trail == @trails.first %>
    <div class="nexttrail">
      <h4>Next Trail:</h4>
      <h3><%= link_to trail.name, trail %>, <%= trail.startdate %></h3><br />
      <h4><%= @trail.kennel.name %></h4>
      <% if trail.prelube.present? %>
        Prelube: <%= link_to trail.prelube.name, trail.prelube.location %><br />
      <% end %>
      When: <%= trail.startdate %>, <%= trail.starttime %>
    </div>
  <% else %>
    <h3><%= link_to trail.name, trail %></h3>
    <p>created by <%= trail.creator %><br />
    When: <%= trail.startdate %><br />
    <% if trail.prelube.present? %>
      Prelube: <%= link_to trail.prelube.name, trail.prelube.location %><br />
    <% end %>
    
    <% if user_signed_in? && trail.permissions(current_user) %>
      <%= link_to 'Delete', trail, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
<% end %>