<% if trail.valid? %>
  <h3><%= link_to trail.name, trail %></h3>
  <h5><%= link_to trail.kennel.name, trail.kennel %></h5>
  <p>created by <%= link_to trail.creator, trail.user %><br />
  When: <%= trail.startdate %><br />
  <% if trail.prelube.present? %>
    Prelube: <%= link_to trail.prelube.name, trail.prelube.location %><br />
  <% end %>
  
  <% if user_signed_in? && trail.permissions(current_user) %>
    <%= link_to 'Delete', trail, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
<% end %>