<div class="col-sm-8 col-sm-offset-2 location">
  <h2><%= @trail.name %></h2>
  <h4><%= link_to @trail.kennel.name, @trail.kennel %></h4>
  <p>
    Date: <%= @trail.start.strftime("%B %d, %Y") %><br />
    Time: <%= @trail.start.strftime("%k:%M HST") %><br />
    How Much: $<%= @trail.price %><br />
    Description: <%= @trail.description %>
  </p>
</div>

<div class="col-sm-6">
  <%= render 'checks' %>
</div>

<div class="col-sm-6">
  <% if user_signed_in? %>
    <ul class="buttons">
      <li><%= render 'follow' %>
      </li>
      
      <% if @trail.permissions(current_user) %> 
        <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Edit Trail Details</button> </li>
        <li><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal3">Add a Check</button> </li>
        <li><%= link_to "Delete Trail", @trail, class: "btn btn-danger btn-lg", method: :delete, data: {confirm: "You sure?"} %></li>
      <% end %>
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#commentform">Leave a Comment</button></li>
    </ul>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit trail details</h4>
          </div>
          <div class="modal-body">
            <%= render 'form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <div class="modal fade" id="commentform" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Leave a Comment</h4>
          </div>
          <div class="modal-body">
            <%= render 'comments/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
      <div class="modal fade" id="newlocation" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Location</h4>
          </div>
          <div class="modal-body">
            Add a bar location:
            <%= render 'locations/bar_form' %>
            Add an outdoor location:
            <%= render 'locations/outdoor_form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>

    <div class="modal fade" id="myModal3" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a Check</h4>
          </div>
          <div class="modal-body">
            <%= render 'add_check' %>
          </div>
          <div class="modal-footer">
            <%= link_to "Don't see what you're looking for? ", locations_path %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  <% end %> 
</div>

<div class="col-sm-6 followers">
  <% if @trail.over %>
    <h4>Who Came?</h4>
  <% else %>
    <h4>Who's Coming?</h4>
  <% end %>
  <ul>
    <%= render @trail.followers %>
  </ul>
</div>

<div class="col-sm-6 comments">
  <h4>Comments</h4>
  <% if @trail.comments.any? %>
    <ul>
      <%= render @trail.comments %>
    </ul>
  <% end %>
</div>