<% if user_signed_in? %>
  <button type="button" class="rightbutton btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Edit Trail Details</button>  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit trail details</h4>
        </div>
        <div class="modal-body">
          <%= render 'form' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<% end %> 
<h3><%= @trail.name %></h3>
<p>
  Date:<br />
  <%= @trail.start.strftime("%B %d, %Y") %><br />
  Time:<br />
  <%= @trail.start.strftime("%k:%M HST") %><br />
</p>

<p>
  <% if @trail.locations.any? %>
    <%= render @trail.locations %>
  <% end %>
</p>

<%= form_for @check do |f| -%>
  <div>
    <%= f.collection_select :location_id, Location.all, :id, :name %>
    <%= f.hidden_field :trail_id, value: @trail.id %>
  </div>
  <div>
    <%= f.select :checktype, 
      options_for_select([['Prelube','Prelube'],['Beer Check','Beer Check'],['On-In','On-In']], params[:checktype]) %>
  </div>
  <%= f.submit "Submit", :disable_with => 'Submiting...' %>
<% end -%>