<div class="col-sm-4 col-sm-offset-4 text-center">
  <h2><%= @kennel.name %></h2>
  <h4><%= link_to @kennel.website %>
</div>
<div class="col-sm-6">
  <h4>Upcoming Trails:</h4>
  <% if @trails.any? %>
    <%= render @trails %>
  <% else %>
    No Trails here yet!
  <% end %>
</div>
<div class="col-sm-6">
  <% if user_signed_in? %>
    <ul class="buttons">
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Create a trail!</button> </li>

      <div class="col-sm-6">
        <% unless !user_signed_in? %>
          <div id="follow_form">
            <% if current_user.following?(@kennel) %>
              <%= render 'shared/unfollow' %>
            <% else %>
              <%= render 'shared/follow' %>
            <% end %>
          </div>
        <% end %>
      </div>      

    </ul>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create a trail for this kennel!</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <%= render 'form' %>
              </div>
              <div class="col-sm-6">
                <h4>Rules</h4>
                <%= @trail.kennel.rules %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  <% end %>
</div>