<% if post.posttype == "action" %>
  <h3><b><%= post.body.html_safe %></b></h3>
<% else %>
  <div class="text-post">
    <h3><%= link_to post.poster.name, post.poster %> posted:</h3>
    <%= simple_format(post.body).html_safe %>
  </div>
<% end %>
<%= time_ago_in_words(post.created_at) %> ago<br />
<%= link_to 'Comments', post, class: "btn btn-success btn-xs" %>  

<% if post.poster == current_user %>
  <% if post.posttype == "text" %>
    <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-primary btn-xs" %>
  <% end %>
  <%= link_to 'Delete Post', post, method: :delete, class: "btn btn-danger btn-xs" %>
<% end %>