<div class="row">
  <div class="col-sm-6">
    <%= form_for @check do |f| -%>
      <b>Add a check:</b>
      <div>
        <%= f.label :select_trail %><br/>
        <%= f.collection_select :trail_id, current_user.trails.all, :id, :name %>
        <%= f.hidden_field :location_id, value: @check.location.id %>

      </div>
      <div>
        <%= f.label :type_of_check %><br/>
        <%= f.select :checktype, 
          options_for_select([['Prelube','Prelube'],['Beer Check','Beer Check'],['On-In','On-In']], params[:checktype]) %>
      </div>
      <div>
        <%= f.submit "Add Check", :disable_with => 'Submiting...', class: "btn btn-primary btn-lg" %>
      </div>
    <% end -%>
  </div>
</div>