<%= form_for @bar_location do |f| -%>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :address, "Address" %>
    <%= f.text_field :address %>
  </div>  
  <div>
    <%= f.label :city, "City" %>
    <%= f.text_field :city %>
    <%= f.label :state, "State" %>
    <%= f.text_field :state, :size => "2" %>

  </div>
  <div>
    <%= f.label :contact_name %>
    <%= f.text_field :contact %><br/>
    <%= f.label :contact_phone %>
    <%= f.text_field :phone %><br/>
    <%= f.label :contact_email %>
    <%= f.text_field :email %><br/>
    <%= f.label :cheapest_beer_brand %>
    <%= f.text_field :beer %><br/>
    <%= f.label :beer_format %>
    <%= f.text_field :format %><br/>
    <%= f.label :beer_price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
  </div>
<% end -%>