<div class="col-sm-12 location">
  <h2><%= link_to @location.name, @location %></h2>
  <% if @location.place_type == "BarLocation" %>
    <div class="row">
      <div class="col-sm-6">
        Contact: Jim<br />
        Phone or Email: (617) 555-1212
      </div>
      <div class="col-sm-6">
        Beer: Budweiser<br />
        Format: Pitcher<br />
        Price: $5<br />
      </div>
    </div>
  <% end %>
</div>
<div class="col-xs-7">
  <a href="https://maps.google.com?q=<%= @location.latitude %>,<%= @location.longitude %>">
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=400x400&maptype=roadmap\&markers=size:mid%7Ccolor:red%7C<%= @location.mappable %>&key=AIzaSyB-ff0StKT8E_pKvXCiZBYEOsUVryVA3z4">
  </a>
</div>
<div class="col-xs-4">
  <% if user_signed_in? %>
    <ul class="buttons">
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Edit Location Details</button></li>
      <li><%= link_to "Delete Location", @location, class: "btn btn-danger btn-lg", method: :delete %></li>
      <li><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#commentform">Leave a Comment</button></li>
    </ul>
  <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit location details</h4>
          </div>
          <div class="modal-body">
            <% if @location.place_type == "BarLocation" %>
              <%= render 'bar_form' %>
            <% else %>
              <%= render 'outdoor_form' %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    <div class="modal fade" id="commentform" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Leave a Comment</h4>
          </div>
          <div class="modal-body">
            <%= render 'comments/form' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
  <% else %>
    <ul class="buttons">
      <li><%= link_to "Sign In!", new_user_session_path, class: "btn btn-info btn-lg" %></li>
    </ul>
  <% end %>
</div>

<div class="col-sm-6 checklist">
  <h3>Used on the following trails:</h3>
  <% @location.checklist.each do |c| %>
    <ul>
      <% if c.visible?(current_user) %>
        <li><%= c.checktype %> for <%= link_to c.trail.name, c.trail %> on <%= c.trail.startdate %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="col-sm-6 comments">
  <h3>Comments</h3>
  <% if @location.comments.any? %>
    <ul>
      <%= render @location.comments %>
    </ul>
  <% end %>
</div>
